body {
  background-color: #3caea3;
}

/* Navbar Styling */
nav {
  padding-left: 2%;
  padding-right: 1%;
  font-family: "Titillium Web", sans-serif;
}

/* Row Styling in grid layout */
.row {
  --bs-gutter-x: 0rem;
  margin-bottom: 2%;
}

/* Grid Styling */
.snippet {
  background-color: rgba(244, 234, 227, 0.7);
  box-shadow: 2px 5px 10px black;
  text-align: center;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 15px;
  margin-left: 10%;
  margin-bottom: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

/* Heading Styling */
.text {
  color: black;
  text-align: right;
  font-family: "Sacramento", cursive;
  font-size: 85px;
}

.form {
  background-color: rgba(244, 234, 227, 0.7);
  max-width: 25%;
  border-radius: 15px;
  box-shadow: 2px 5px 10px black;
  text-align: center;
  margin-left: 5%;
  padding: 2%;
  font-family: 'Gentium Basic', serif;
  /* font-family: "Tinos", serif;
   */
}

/* 

.post {
  background-color: rgba(215, 205, 198, 0.5);
  box-shadow: 2px 5px 10px black;
  text-align: center;
  float: left;
  border-radius: 15px;
  min-width: 19%;
  max-width: 20%;
  margin-left: 5%;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
} */
