body {
  background-color: 3CAEA3;
}
.row {
  --bs-gutter-x: 0rem;
}
nav {
  padding-left: 2%;
  padding-right: 1%;
  font-family: "Titillium Web", sans-serif;
}
/*
.snippet {
  margin-left: 25%;
  background-color: rgba(244, 234, 227, 0.7);
  box-shadow: 2px 5px 10px black;
  background-color: rgb(240, 128, 87);
  text-align: center;
  border-radius: 15px;
  max-width: 50%;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}
*/
